@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;300;400;500;700;900&display=swap');
@import "mixin.scss";

@font-face{
    src: url(../font/Larish\ Neue\ Semibold.woff2);
    font-family: Larish-Semibold;
}

@font-face{
    src: url(../font/LarishNeueSemibold.woff);
    font-family: Larish-Semibold2;
}
/* Sorry, Sensei for so much code. */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1, h2{
    font-family: Larish-Semibold;
}

.btn{
    @include button-style(1px solid white, transparent, white, 3vh, 2% 4%, pointer,.3s ease-in-out);
    &:hover{
        @include bg-color(white, black);
    }
}

.header{
    text-align: center;
    @include bg-color(#000, #fff);
    .line{
        display: flex;
        justify-content: center;
        padding: 0 0 5% 0;
        img{
            @include width-height(1px,31vh);
        }
    }
    p{
        @include text-style (Work Sans, 1.5rem);
        &:nth-of-type(1){
            padding: 0 0 1% 0;
        }
        &:nth-of-type(2){
            padding: 0 0 10% 0;
        }
    }
    h1{
        font-size: 13vh;
        padding: 0 0 1% 0;
        line-height: 12vh;
    }
    .outline{
        @include text-stroke(1px white,black);
    }
    .header-bar{
        display: flex;
        justify-content: space-between;
        margin: 0 8%;
        padding: 0 0 2% 0;
        img{
            width: 4.5vw;
        }
    }
}

.main{
    .main--section{
        @include bg-color(#000, #fff);
        padding: 11% 0 0 8%;
        >h2{
            font-size: 15vh;
            width: 80%;
            padding: 0 0 5% 0 ;
        }
        .section--div{
            background: url(../img/map.svg) right no-repeat;
            padding: 10% 1% 0% 0;
            p{
                @include text-style(Work Sans, 2rem);
            }
            h2{
                font-size: 10rem;
            }
        }
    }
    .main--article{
        @include display-grid(grid, 1fr,(repeat, 8));
        .black-bar{
            padding: 3% 0 0 0;
            text-align: right;
            background: linear-gradient(to bottom,black 50%, white 50%);
            img{
                padding: 0 9% 0 0;
                width: 37%;
            }
        }
        > img{
            &:nth-of-type(1){
                @include width-margin(22%, 5% 0 -2% 3%);
            }
            &:nth-of-type(2){
                @include width-margin(22%, -55px 0 0 auto);
            }
            &:nth-of-type(3){
                @include width-margin(30%, 0 0 0 15%);
            }
            &:nth-of-type(4){
                @include width-margin(30%, 0 10% 0 auto);
            }
        }
        .text-container{
            @include width-margin(37%, 0 auto);
            h2{
                font-size: 14vh;
                line-height: 7rem;
                padding: 0 0 4% 0;
            }
            p{
                @include text-style(Work Sans, 2.5vh);
                width: 93%;
                line-height: 5vh;
            }
        }
        .image-text{
            padding: 5% 0 0 0;
            display: inline-flex;
            p{
                @include text-style(Work Sans, 2.5vh);
                @include width-margin(45%, 3% 0 0 0);
                padding: 0 0 0 8%;
                line-height: 5vh;
            }
            img{
                @include width-height(24%, 83%);
            }
        }
        .last-image-container{
            text-align: center;
            background: linear-gradient(to bottom, white 50%, black 50%);
            padding: 0 0 10% 0%;
            img{
                @include width-margin(32%, 5% 0 0 25%);
            }
        }
    }
    .main--section--golden{
        @include bg-color(#000, #fff);
        padding: 0 0 0% 9%;
        >p{
            @include text-style(Work Sans, 3vh);
            padding: 0 0 2% 0;
        }
        .div--golden{
            display: flex;
            padding: 0 0 3% 0;
            div:nth-of-type(1){
                padding: 0.5% 22% 0 0;
                font-size: 9.5vh;
                h2{
                    width: 50%;
                    line-height: 12.5vh;
                }
            }
            div:nth-of-type(2){
                p{
                    &:nth-of-type(1){
                        width: 80%;
                        @include text-style(Larish-Semibold, 4.7vh);
                    }
                    &:nth-of-type(2){
                        @include text-style(Work Sans, 3vh);
                        padding: 3% 0 0 0;
                    }
                }
            }
        }
        .golden--bear--image{
            position: relative;
            img{
                &:nth-of-type(1){
                    width: 60%;
                    transform: translateY(20%)
                }
                &:nth-of-type(2){
                    width: 30%;
                    transform: translate(-15%, 10%);
                }
            }
        }
    }
    .poppy--bear{
        position: relative;
        overflow: hidden;
        padding: 30% 0 0 9%;
        >p{
            @include text-style(Work Sans, 3vh);
        }
        > img{
            position: absolute;
            width: 35%;
            right: -16%;
            top: -10%;
            overflow: hidden;
            z-index: -1;
            animation: circle 8s infinite linear;
        }
        .div--poppy{
            display: flex;
            flex-wrap: wrap;
            padding: 0 0 10% 0;
            div:nth-of-type(1){
                padding: 0.5% 27% 0 0;
                font-size: 9vh;
                h2{
                    width: 50%;
                    line-height: 11vh;
                }
            }
            div:nth-of-type(2){
                padding: 0 0 5% 0;
                p{
                    &:nth-of-type(1){
                        width: 80%;
                        @include text-style(Larish-Semibold, 4.5vh);
                    }
                    &:nth-of-type(2){
                        @include text-style(Work Sans, 3vh);
                        padding: 3% 0 0 0;
                        margin-top: -1%;
                    }
                }
            }
        }
        .poppy--bear--image{
        padding: 0 0 10% 0;
            img{
                &:nth-of-type(1){
                    width: 30%;
                    transform: translate(10vh, -5vw);
                }
                &:nth-of-type(2){
                    width: 62%;
                }
            }
        }
    }
}

.footer{
    @include bg-color(#000, #fff);
    padding: 0 0 0% 8%;
    overflow: hidden;
    font-family: Work Sans;
    .footer--section{
        .banner-animation--container{
            position: relative;
            z-index: 1;
            .banner-animation{
                @include banner-animation(#fff, .9, 5000px, rotate(42deg) translate(0,155vh), -50vh, banner-animation 10s infinite linear alternate);
                position: absolute;
                font-family: Larish-Semibold;
                span:nth-of-type(odd){
                    font-size: 20vh;
                    color: #000;
                }
                .outline-two{
                    @include text-stroke (1px black, white);
                    font-size: 20vh;
                }
            }
        }
        p{
            padding: 9% 0 3% 0;
            font-size: 3vh;
        }
        h2{
            width: 40%;
            font-size: 6vh;
            padding: 0 0 2% 0;
        }
        .icon--container{
            padding: 9% 0 1% 0;
            img{
                width: 35px;
                padding: 0 1vh 0 0;
            }
        }
        .footer--bar{
            display: flex;
            justify-content: space-between;
            .footer--bar--left{
                p{
                    line-height: 0.5vh;
                }
            }
        }
        .footer--bar--icons{
            padding: 0 8% 3% 0;
            img{
                width: 100px;
                padding: 0 1% 0 0;
            }
        }
    }
}

@keyframes circle{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

@keyframes banner-animation{
    0%{
        transform: rotate(42deg) translate(0vh, 200vh);
    }
    100%{
        transform: rotate(42deg) translate(100vh,200vh);
    }
}

@keyframes banner-animation3{
    0%{
        transform: translateX(-1%);
    }
    100%{
        transform: translateX(-4%);
    }
}

@keyframes banner-animation2{
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(-7%);
    }
}

@media screen and (max-width: 1024px){
    .header .header-bar{
        padding: 0 0 10% 0;
        img{
            width: 100px;
        }
    }
    .header .line img{
        height: 25vh;
    }
    .main{
        .main--section{
            h2{
                font-size: 6vh;
            }
            .section--div{
                text-align: left;
                margin-right: 10%;
                padding: 5% 0;
                h2{
                    font-size: 5vh;
                }
            }
        }
        .main--section--golden > p{
            padding: 5% 0 2% 0;
        }
        .main--article{
            .text-container{
                h2{
                    line-height: normal;
                    font-size: 12vh;
                }
            }
            >img{
                &:nth-of-type(1){
                    @include width-margin(30%, 5% 0 -18% 0);
                }
                &:nth-of-type(2){
                    @include width-margin(31%, -158px 0 0 auto);
                }
                &:nth-of-type(3){
                    @include width-margin(38%, 0 0 0 4%);
                }
                &:nth-of-type(4){
                    @include width-margin(35%, 0 11% 0 auto);
                }
            }
            .image-text img{
                @include width-height(47%, 83%);
            }
            .last-image-container img{
                @include width-margin(44%, 5% 0 0 6%);
            }
        }
        .poppy--bear > img{
            right: -13%;
            top: -4%;
        }
    }
    .div--golden, .div--poppy{
        h2{
            padding: 0 0 5% 0;
        }
    }
    .footer {
        padding: 0 0 0 4%;
        .footer--section{
            p{
                padding: 20% 0 3% 0;
            }
            h2{
                width: 100%;
                padding: 0 0 8% 0;
            }
            .icon--container{
                text-align: center;
                img{
                    width: 50px;
                }
            }
            .btn{
                display: block;
                margin: 0 auto;
            }
            .footer--bar{
                align-items: baseline;
                padding: 0 0 5% 0;
                .footer--bar--left p{
                    display: inline-block;
                }
            }
            .banner-animation--container{
                .banner-animation{
                    @include banner-animation(#fff, .9, 5000px, translate(0,155vh), 5vh, banner-animation3 5s infinite linear alternate);
                    span:nth-of-type(odd), .outline-two{
                        font-size: 10vh;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 414px){
    .header{
        h1{
            font-size: 6vh;
            line-height: normal;
        }
        .outline{
            font-size: 6vh;
        }
        .line{
            img{
                height: 20vh;
            }
        }
        p{
            font-size: 2vh;
            @include width-margin(50%, 0 auto)
        }
        .header-bar{
            justify-content: space-around;
            img{
                width: 9.5vw;
            }
            .btn{
                font-size: 1.5vh;
            }
        }
    }
    .main{
        .main--section{
            text-align: left;
            padding: 11% 0 0 6%;
            h2{
                font-size: 3vh;
            }
            .section--div{
                h2{
                    font-size: 3vh;
                }
            }
        }
        .main--article{
            text-align: center;
            .black-bar{
                text-align: center;
                padding: 3% 0 8% 0;
                img{
                    padding: 0;
                }
            }
            .text-container{
                width: 100%;
                h2{
                    font-size: 5vh;
                    padding: 6% 0 0 0;
                }
                p{
                    margin: auto;
                    font-size: 2vh;
                }
            }
            .image-text{
                @include flex-direction(flex,column);
                p{
                    padding: 10px 10%;
                    width: 100%;
                    font-size: 2vh;
                }
            }
            img{
                &:nth-of-type(1){
                    @include width-margin(50%, auto);
                }
                &:nth-of-type(2){
                    @include width-margin(50%, auto);
                    padding: 5% 0;
                }
                &:nth-of-type(3){
                    @include width-margin(50%, auto);
                    padding: 0 0 5% 0%;
                }
                &:nth-of-type(4){
                    @include width-margin(50%, auto);
                }
            }
            .last-image-container img{
                margin: auto;
            }
        }
        .main--section--golden{
            padding: 0 0 0 6%;  
            .div--golden{
                @include flex-direction(flex,column);
                div:nth-of-type(1){
                    h2{
                        line-height:normal;
                        padding: 0 0 8% 0;
                        font-size: 5vh;
                    }
                }
                div:nth-of-type(2){
                    p:nth-of-type(1){
                        width: 95%;
                        font-size: 3vh;
                    }
                    p:nth-of-type(2){
                        font-size: 2vh;
                    }
                }
            }
        }
        .poppy--bear{
            padding: 30% 0 0 6%;
            .div--poppy{
                @include flex-direction(flex,column);
                div:nth-of-type(1){
                    h2{
                        line-height:normal;
                        padding: 0 0 8% 0;
                        font-size: 5vh;
                    }
                }
                div:nth-of-type(2){
                    p:nth-of-type(1){
                        width: 95%;
                        font-size: 3vh;
                    }
                    p:nth-of-type(2){
                        font-size: 2vh;
                    }
                }
            }
        }
    }
    .footer{
        padding: 0;
        .footer--section{
            >p{
                padding: 30% 0 3% 0;
                text-align: center;
            }
            h2{
                padding: 0% 3% 10% 3%;
                text-align: center;
                font-size: 3vh;
            }
            .btn{
                font-size: 1.5vh;
            }
            .footer--bar{
                flex-wrap: wrap;
                justify-content: center;
                .footer--bar--left p{
                    font-size: 2vh;
                    padding: 10% 0;
                }
            }
            .footer--bar--icons{
                padding: 0;
            }
            .banner-animation--container{
                .banner-animation{
                    span:nth-of-type(odd), .outline-two{
                        font-size: 5vh;
                    }
                }
            }
        }
    }
}